:root {
  	/*default theme*/
	--line-up-color: rgba(255, 255, 255, 1);
	--line-down-color: rgba(255, 255, 255, 1);
	--text-color: rgba(255, 255, 255, 1);
	--background-color: rgba(37, 45, 71, .7);
	--chart-up-fill-color: rgba(109, 249, 122, .5);
	--chart-down-fill-color: rgba(249, 122, 109, .5);
	--chart-border-color: rgba(223, 116, 12, 1);
}

.created-by {
	font-size: .75rem;
	position: absolute;
	top: 200px;
	left: 292px;
}

.plain-text {
	color: var(--text-color);
	text-decoration: none;
}

/*arrows for growth/decline*/
.arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    left: 10px;
    position: relative;
}
.arrow.arrow-top {
	top: 2px;
	transform: rotate(-45deg);
	border-top: 5px solid rgba(109, 249, 122, 1);
	border-right: 5px solid rgba(109, 249, 122, 1);
}
.arrow.arrow-bottom {
	top: -3px;
	transform: rotate(135deg);
	border-top: 5px solid rgba(249, 122, 109, 1);
	border-right: 5px solid rgba(249, 122, 109, 1);
}
	

/* special sauce for dogecoin rocket */
#coin-label .arrow + img.rocket {
	content:url(https://cdn.jsdelivr.net/gh/MaxTMcCoy/CryptoTickerWidget@1.0.5/assets/images/dogecoin-moon.png);
	display: none;
}

#coin-label.dogecoin .arrow + img.rocket {
	display: inline;
	max-height: 60px;
	position: relative;
	animation-iteration-count: 1;
	margin-top: -35px;
	top: 25px;
	z-index: 1;
}

#coin-label.dogecoin .arrow.arrow-top + img.rocket {
	transform: rotate(-45deg);
	animation: upmove 2s;
	animation-delay: 1s;
}

#coin-label.dogecoin .arrow.arrow-bottom + img.rocket {
	transform: rotate(135deg);
	animation: downmove 2s;
	animation-delay: 1s;
}

@keyframes upmove {
0%   {top: 25px;}
25%  {top: -200px; opacity: 0;}
50%  {opacity: 0;}
75%  {top: 400px;}
100% {top: 25px; opacity: 1;}
}

@keyframes downmove {
0%   {top: 25px;}
25%  {top: 200px; opacity: 0;}
50%  {opacity: 0;}
75% {top: -200px;}
100% {top: 25px; opacity: 1;}
}

  
/* @keyframes upmove {
	from {top: 75px;}
	to {top:-60px;}
} */

/* @keyframes downmove {
	from {top: 75px;}
	to {top: 500px;}
} */


#coin-label.dogecoin .arrow {
	display: none;
}
/*defaults*/
.widget {
    padding-top: 20px;
    background-color: var(--background-color);
    border-radius: 20px;
    width: 500px;
    height: 192px;
    font-family: Arial, Helvetica, sans-serif;
  	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 35%);
    font-size: 30px;
	overflow: hidden;
}

#coin-label {
    display: block;
    text-align: center;
    color: var(--text-color);
    text-transform: capitalize;
}


img.coin-image {
    height: 35px;
    position: relative;
    padding-right: 5px;
    margin-bottom: -8px;
}

.chart-container {
	position: relative;
	height: 40vh;
	width: 500px;
	margin-top: -7px;
}

canvas#myChart {
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    top: 14px;
}

div#price-desc{
	font-size: 70%;
	padding-top:13px;
}

/*dogecoin font fix*/
.dogecoin {
	font-family: doge_sansregular;
	font-weight: bold;
	font-size: 25px;
}

.dogecoin #price-desc {
	padding-top: 0px;
}
/*end dogecoin font fix*/

/*end defaults*/

/*retro theme*/

.retro {
	--line-up-color: rgba(3, 94, 232, 1);
	--line-down-color: rgba(151, 0, 204, 1);
	--text-color: rgba(151, 0, 204, 1);
	--background-color: rgba(45, 226, 230, .7);
	--chart-up-fill-color: rgba(246, 1, 157, 1);
	--chart-down-fill-color: rgba(246, 1, 157, 1);
	--chart-border-color: rgba(223, 116, 12, 1);
}
/*end retro theme*/

/*easter theme
light blue (45,226,230)
dark blue (3,94,232)
pinky red (246,1,157)
magenta (246,1,157)
purple (246,1,157)*/
.easter {
	--line-up-color: rgba(150, 255, 171, 1);
	--line-down-color: rgba(246, 1, 157, 1);
	--text-color: rgba(246, 1, 157, 1);
	--background-color: rgba(255,235,175, .7);
	--chart-up-fill-color: rgba(193,240,251, 1);
	--chart-down-fill-color: rgba(193,240,251, 1);
	--chart-border-color: rgba(223, 116, 12, 1);
}

/*end easter theme*/

/*tron theme
orange 223, 116, 12
yellow 255, 230, 77
light blue 230,255,255
blue 111,195,223
dark blue 12,20,31*/
.widget.tron {
	--text-color: rgba(111, 195, 223, 1);
	--line-up-color: rgba(111, 195, 223, 1);
	--line-down-color: rgba(223, 116, 12, 1);
	--background-color: rgba(12, 20, 31, 1);
	--chart-up-fill-color: rgba(12, 20, 31, 1);
	--chart-down-fill-color: rgba(12, 20, 31, 1);
	--border-color: rgba(223, 116, 12, 1);
	border: solid 4px var(--border-color); 
	border-radius: 26px;
}

/*end tron theme*/

/*fishy theme
salmon 242,179,164
tanish 229,201,178
weird grey 191,180,174
grey green 159,169,160
kelp green 138,161,146*/
.fishy {
	--text-color: rgba(242,179,164, 1);
	--line-up-color: rgba(242,179,164, 1);
	--line-down-color: rgba(229,201,178, 1);
	--background-color: rgba(138,161,146, 1);
	--chart-up-fill-color: rgba(229,201,178, 1);
	--chart-down-fill-color: rgba(229,201,178, 1);
	--border-color: rgba(229,201,178, 1);
}
/*end fishy theme*/

/*accessible theme 
light red 216,27,96
light blue 30,136,229
dark yellow 255,193,7
dark green 0,77,64*/
.accessible {
	--text-color: rgba(255,255,255, 1);
	--line-up-color: rgba(0,77,64, .8);
	--line-down-color: rgba(216,27,96, .8);
	--background-color: rgba(30,136,229, .8);
	--chart-up-fill-color: rgba(0,77,64, .8);
	--chart-down-fill-color: rgba(216,27,96, .8);
	--border-color: rgba(255,193,7, .8);
}
/*accessible theme*/

/*minimal theme*/
.widget.minimal {
	--text-color: rgba(116, 255, 91, 1);
	--line-up-color: rgba(116, 255, 91, 1);
	--line-down-color: rgba(255, 91, 91, 1);
	--background-color: rgba(0, 0, 0, .0);
	--chart-up-fill-color: rgba(0, 0, 0, .0);
	--chart-down-fill-color: rgba(0, 0, 0, .0);
	--border-color: rgba(0, 0, 0, .0);
	box-shadow: 0 0 0 0;
}
/*end minimal theme*/
